################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ControlAgricola/v16/Server/sqlite3
.vs/ControlAgricola/DesignTimeBuild/.dtbcache
.vs/ControlAgricola/v16/.suo
/bin/
/obj/
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.csprojAssemblyReference.cache
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.pdb
.vs/ControlAgricola/v16/.suo
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/bin/Release/netcoreapp2.2/appsettings.Development.json
ControlAgricola/bin/Release/netcoreapp2.2/appsettings.json
ControlAgricola/bin/Release/netcoreapp2.2/ControlAgricola.deps.json
ControlAgricola/bin/Release/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/bin/Release/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/bin/Release/netcoreapp2.2/ControlAgricola.runtimeconfig.dev.json
ControlAgricola/bin/Release/netcoreapp2.2/ControlAgricola.runtimeconfig.json
ControlAgricola/bin/Release/netcoreapp2.2/Properties/launchSettings.json
ControlAgricola/bin/Release/netcoreapp2.2/publish/appsettings.Development.json
ControlAgricola/bin/Release/netcoreapp2.2/publish/appsettings.json
ControlAgricola/bin/Release/netcoreapp2.2/publish/BouncyCastle.Crypto.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/ControlAgricola.deps.json
ControlAgricola/bin/Release/netcoreapp2.2/publish/ControlAgricola.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/ControlAgricola.pdb
ControlAgricola/bin/Release/netcoreapp2.2/publish/ControlAgricola.runtimeconfig.json
ControlAgricola/bin/Release/netcoreapp2.2/publish/Google.Protobuf.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/MySql.Data.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/MySql.Data.EntityFrameworkCore.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/Remotion.Linq.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/Renci.SshNet.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/SshNet.Security.Cryptography.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/System.Configuration.ConfigurationManager.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/System.Interactive.Async.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/System.Resources.Extensions.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/System.Security.Cryptography.ProtectedData.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/System.Xml.XPath.XmlDocument.dll
ControlAgricola/bin/Release/netcoreapp2.2/publish/web.config
ControlAgricola/bin/Release/netcoreapp2.2/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.csprojAssemblyReference.cache
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.AssemblyInfo.cs
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.AssemblyInfoInputs.cache
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.assets.cache
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.csproj.FileListAbsolute.txt
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.csprojAssemblyReference.cache
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.RazorAssemblyInfo.cache
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.RazorAssemblyInfo.cs
ControlAgricola/obj/Release/netcoreapp2.2/ControlAgricola.RazorTargetAssemblyInfo.cache
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.Development.json
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/BouncyCastle.Crypto.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/ControlAgricola.deps.json
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/ControlAgricola.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/ControlAgricola.pdb
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/ControlAgricola.runtimeconfig.json
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/Google.Protobuf.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/MySql.Data.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/MySql.Data.EntityFrameworkCore.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/Remotion.Linq.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/Renci.SshNet.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/SshNet.Security.Cryptography.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/System.Configuration.ConfigurationManager.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/System.Interactive.Async.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/System.Resources.Extensions.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/System.Security.Cryptography.ProtectedData.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/System.Xml.XPath.XmlDocument.dll
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/web.config
ControlAgricola/obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/Properties/PublishProfiles/FolderProfile.pubxml
ControlAgricola/Properties/PublishProfiles/FolderProfile.pubxml.user
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.csprojAssemblyReference.cache
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.pdb
ControlAgricola/ControlAgricola.csproj.user
Mobile/.vscode/extensions.json
.vs/ControlAgricola/v16/.suo
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/bin/Debug/netcoreapp2.2/ControlAgricola.pdb
Mobile/.editorconfig
Mobile/.gitignore
Mobile/LICENSE
Mobile/package-lock.json
Mobile/package.json
Mobile/tsconfig.json
Mobile/tsconfig.tns.json
Mobile/tsfmt.json
Mobile/tslint.json
Mobile/webpack.config.js
Mobile/.vscode/extensions.json
Mobile/app/_app-common.scss
Mobile/app/app-root.xml
Mobile/app/app.android.scss
Mobile/app/app.ios.scss
Mobile/app/app.ts
Mobile/app/index.ts
Mobile/app/package.json
Mobile/app/App_Resources/Android/app.gradle
Mobile/app/App_Resources/Android/settings.gradle
Mobile/app/App_Resources/Android/settings.json
Mobile/app/App_Resources/Android/src/main/AndroidManifest.xml
Mobile/app/App_Resources/Android/src/main/res/drawable-hdpi/background.png
Mobile/app/App_Resources/Android/src/main/res/drawable-hdpi/icon.png
Mobile/app/App_Resources/Android/src/main/res/drawable-hdpi/logo.png
Mobile/app/App_Resources/Android/src/main/res/drawable-ldpi/background.png
Mobile/app/App_Resources/Android/src/main/res/drawable-ldpi/icon.png
Mobile/app/App_Resources/Android/src/main/res/drawable-ldpi/logo.png
Mobile/app/App_Resources/Android/src/main/res/drawable-mdpi/background.png
Mobile/app/App_Resources/Android/src/main/res/drawable-mdpi/icon.png
Mobile/app/App_Resources/Android/src/main/res/drawable-mdpi/logo.png
Mobile/app/App_Resources/Android/src/main/res/drawable-nodpi/splash_screen.xml
Mobile/app/App_Resources/Android/src/main/res/drawable-xhdpi/background.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xhdpi/icon.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xhdpi/logo.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xxhdpi/background.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xxhdpi/icon.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xxhdpi/logo.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xxxhdpi/background.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xxxhdpi/icon.png
Mobile/app/App_Resources/Android/src/main/res/drawable-xxxhdpi/logo.png
Mobile/app/App_Resources/Android/src/main/res/values/colors.xml
Mobile/app/App_Resources/Android/src/main/res/values/styles.xml
Mobile/app/App_Resources/Android/src/main/res/values-v21/colors.xml
Mobile/app/App_Resources/Android/src/main/res/values-v21/styles.xml
Mobile/app/App_Resources/Android/src/main/res/values-v29/styles.xml
Mobile/app/App_Resources/Android/src/main/res/xml/network_security_config.xml
Mobile/app/App_Resources/iOS/build.xcconfig
Mobile/app/App_Resources/iOS/Info.plist
Mobile/app/App_Resources/iOS/LaunchScreen.storyboard
Mobile/app/App_Resources/iOS/Assets.xcassets/Contents.json
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-20.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-20@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-20@3x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-29.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-29@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-29@3x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-40.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-40@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-40@3x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-60@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-60@3x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-76.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-76@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-83.5@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/AppIcon.appiconset/icon-1024.png
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/Contents.json
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/LaunchScreen-AspectFill.png
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/LaunchScreen-AspectFill@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.AspectFill.imageset/LaunchScreen-AspectFill@3x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/Contents.json
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/LaunchScreen-Center.png
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/LaunchScreen-Center@2x.png
Mobile/app/App_Resources/iOS/Assets.xcassets/LaunchScreen.Center.imageset/LaunchScreen-Center@3x.png
Mobile/app/browse/browse-page.ts
Mobile/app/browse/browse-page.xml
Mobile/app/browse/browse-view-model.ts
Mobile/app/fonts/fa-brands-400.ttf
Mobile/app/fonts/fa-regular-400.ttf
Mobile/app/fonts/fa-solid-900.ttf
Mobile/app/home/home-items-page.ts
Mobile/app/home/home-items-page.xml
Mobile/app/home/home-view-model.ts
Mobile/app/home/home-item-detail/home-item-detail-page.ts
Mobile/app/home/home-item-detail/home-item-detail-page.xml
Mobile/app/home/shared/item.ts
Mobile/app/search/search-page.ts
Mobile/app/search/search-page.xml
Mobile/app/search/search-view-model.ts
Mobile/app/search/acts/acts-page.ts
Mobile/app/search/acts/acts-page.xml
Mobile/app/search/acts/acts-vm.ts
Mobile/app/shared/component-decorator.ts
Mobile/app/shared/notifications.ts
Mobile/app/shared/responseHandler.ts
Mobile/app/shared/services.ts
Mobile/.vscode/extensions.json
Mobile/.vscode/extensions.json
Mobile/webpack.config.js
Mobile/webpack.config.js
Mobile/.vscode/extensions.json
ControlAgricola/obj/ControlAgricola.csproj.nuget.cache
ControlAgricola/obj/ControlAgricola.csproj.nuget.dgspec.json
ControlAgricola/obj/ControlAgricola.csproj.nuget.g.props
ControlAgricola/obj/project.assets.json
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.csprojAssemblyReference.cache
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.dll
ControlAgricola/obj/Debug/netcoreapp2.2/ControlAgricola.pdb
